{embed="inc/head"}
<body id="index" class="general">
	<div class="container">
		<div class="row">
			<div class="span3">
				{embed="inc/sidebar"}
			</div>
			<div class="span9">
				{embed="inc/header"}
				
				{embed="inc/breadcrumb"}
				
				<div class="row">
					<div class="span6">
						{exp:channel:entries}
						<div class="maincol top-product-container">
							{prod_contenu_{user_language}}
						</div>
						
						{embed="produits/itemlist" entry_id="{entry_id}"}
						
						{/exp:channel:entries}
					</div>
					
					<div class="span3">
						{exp:channel:entries}
						<!-- Galerie -->
						{if "{prod_galerie:total_files}" >= 1}
						<ul class="thumbnails">
							{prod_galerie}
							<li>
								<a href="{url}" class="thumbnail galerie-th fancybox" rel="inpage-galerie" title="{title}">
									{exp:ce_img:pair:crpd src="{url}" crop="yes" max_width="60" min_width="60" max_height="60" min_height="60"}
									<img src="{crpd:made}" title="{title}" width="{crpd:width}" height="{crpd:height}" class="" alt="{alt_text}"/>
									{/exp:ce_img:pair:crpd}
								</a>
							</li>
							{/prod_galerie}
						</ul>
						{/if}
						
						<!-- Documents -->
						{if "{prod_documents:total_rows}" >= 1}
						<ul class="linked-docs">
							<h3>{exp:multi_language:phrase index="documents_lies"}</h3>
							{prod_documents}
							<li>
								<h4>
									<i class="icon-file"></i> <a href="{doc_file}" class="doc-dl" title="{exp:multi_language:phrase index="telecharger"} : {doc_title}" data-placement="left">{doc_title}</a>
								</h4>
								{doc_desc}
							</li>
							{/prod_documents}
						</ul>
						{/if}
						{/exp:channel:entries}
					</div>
					
				</div>
			</div>
		</div>
		<div class="row">
			{embed="inc/footer"}
		</div>
	</div>
	
	{embed="inc/jsinclusion"}
</body>
</html>
