{exp:structure:entries parent_id="{embed:entry_id}"}
{if "{count}" == 1}
<h2 class="catalog">{exp:multi_language:phrase index="declinaisons"}</h2>
<ul class="prod-item-list clearfix">
{/if}
	<li class="">
		<div class="prod-list-item {switch="light|deep"} clearfix">
			<div class="thumbnail">
				<a href="{page_uri}" title="{if "{user_language}" != "fr"}{item_title_{user_language}}{if:else}{title}{/if}">
					{if "{item_thumbnail:total_files}" >= 1}
					{item_thumbnail limit="1"}
					{exp:ce_img:pair:crpd src="{url}" crop="yes" max_width="60" min_width="60" max_height="60" min_height="60"}
					<img src="{crpd:made}" alt="{alt_text}" title="{title}" width="{crpd:width}" height="{crpd:height}" />
					{/exp:ce_img:pair:crpd}
					{/item_thumbnail}
					{if:else}
					<img src="{theme_folder_url}artelux/img/default120.png" alt="{if "{user_language}" != "fr"}{item_title_{user_language}}{if:else}{title}{/if}" title="{if "{user_language}" != "fr"}{item_title_{user_language}}{if:else}{title}{/if}" />
					{/if}
				</a>
			</div>
			<div class="caption">
				<h3>{if "{user_language}" != "fr"}{item_thumbnail_{user_language}}{if:else}{title}{/if}</h3>
				{item_intro_{user_language}}
				<p>
					<a href="{page_uri}" class="btn btn-primary btn-small btn-inverse" title="{if "{user_language}" != "fr"}{item_title_{user_language}}{if:else}{title}{/if}">{exp:multi_language:phrase index="more_infos"}</a>
				</p>
			</div>
		</div>
	</li>
{if "{count}" == "{total_results}"}
</ul>
{/if}
{/exp:structure:entries}
