@import "compass/css3/border-radius";
@import "compass/css3/transition";
/* ---------------------------------------------------------------------------------------
- APPLICATION
--------------------------------------------------------------------------------------- */
div.contact-infos {
	p, .vcard {
		padding: 5px 10px;
	}
	margin-bottom: 20px;
	border-bottom: 1px solid $light_grey;
}

div.newsletter-enroll {
	p, form {
		padding: 5px 10px;
	}
	legend {
		font-size: 15px;
	}
	margin-bottom: 20px;
	border-bottom: 1px solid $light_grey;
}

div.actu-widget {
	ul {
		padding: 5px 10px;
	}
	margin-bottom: 20px;
	border-bottom: 1px solid $light_grey;
}

.maincol {
	padding: 0 10px;
	h1 {
		color: $mainblue;
		font-size: 22px;
		margin: 0 0 20px 0;
		padding: 0 0 5px 0;
		border-bottom: 1px solid darken($mainblue, 3%);
	}
	h2 {
		color: $mainblue;
		font-size: 18px;
		margin: 0 0 10px 0;
		padding: 0;
	}
}

ul.prod-list {
	list-style: none;
	li {
		display: block;
		margin: 0;
		padding: 0;
		div.prod-list-item {
			padding: 10px;
			&.light {
				background: lighten($light_grey, 8%);
				border-bottom: 1px solid darken($light_grey, 6%);
			}
			&.deep {
				background: lighten($light_grey, 2%);
				border-bottom: 1px solid darken($light_grey, 12%);
			}
			.thumbnail {
				float: left;
				width: 120px;
				height: 120px;
				margin: 0 20px 0 0;
				background-color: #fff;
			}
			.caption {
				h3 {
					font-size: 16px;
					margin: 5px 0 6px 0;
					text-shadow: #fff 1px 1px 1px;
					line-height: 1em;
				}
				p {
					margin: 0 0 10px 0;
				}
			}
		}
	}
}

h2.catalog {
	color: #fc0;
	text-shadow: darken(#fc0, 70%) 1px 1px 1px;
	font-size: 18px;
	margin: 0 0 10px 0;
	padding: 0;
	border-bottom: 1px solid darken($mainblue, 3%);
}

ul.prod-item-list {
	list-style: none;
	margin: 0 0 30px 0;
	padding: 0;
	li {
		display: block;
		margin: 0;
		padding: 0;
		div.prod-list-item {
			padding: 10px;
			&.light {
				background: lighten($light_grey, 8%);
				border-bottom: 1px solid darken($light_grey, 6%);
			}
			&.deep {
				background: lighten($light_grey, 2%);
				border-bottom: 1px solid darken($light_grey, 12%);
			}
			.thumbnail {
				float: left;
				width: 60px;
				height: 60px;
				margin: 0 20px 0 0;
				background-color: #fff;
			}
			.caption {
				h3 {
					font-size: 13px;
					margin: 5px 0 15px 0;
					text-shadow: #fff 1px 1px 1px;
					line-height: 1em;
				}
				p {
					margin: 0 0 10px 0;
				}
			}
		}
	}
}

ul.thumbnails {
	&.products {
		li {
			div.thumbnail {
				height: 380px;
			}
			h2 {
				font-size: 16px;
				line-height: 1.1em;
				margin: 0 0 10px 0;
			}
			p {
				font-size: 13px;
			}
		}
	}
}

ul.linked-docs {
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
	li {
		font-size: 11px;
		display: block;
		border-bottom: 1px solid darken(#f5f5f5, 10%);
		h4 {
			font-size: 13px;
		}
		p {
			font-size: 11px;
		}
	}
}

.rightcol.item-container {
	padding: 0 10px;
	h3.infotech {
		color: #fc0;
		text-shadow: darken(#fc0, 70%) 1px 1px 1px;
		font-size: 18px;
		margin: 0 0 10px 0;
		padding: 0;
		border-bottom: 1px solid darken($mainblue, 3%);
	}
}