@import "compass/css3/border-radius";

.contact-form{ 
	input, textarea{
		background-color: #EFEFEF;
		border: solid 1px #fff;
		width: 98%;
		margin:0;
	}
	p{ margin-bottom:15px; }
	input:focus, textarea:focus{
		border: solid 1px #ccc;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		transition: none;
		-moz-transition: none;
		-webkit-transition: none;
	}
	.form-bottom{
		text-align: right;
		width: 99%;

		span{ padding-right: 10px; }
		input{
			font-size: 14px;
			text-transform: uppercase;
			color: #fff;
			background-color: $dark_grey;
			width: 115px;
			height: 30px;
			line-height: 30px;
			border:0;
			@include border-radius(4px, 4px);
			
		}
	}
	.field_name, .field_surname{ width:48%; display:inline-block; }
	.field_name{ margin-right:2%; }
	.error{
		color: $dark_red;
		font-weight: bold;
		display: inline-block;
		margin-bottom: 15px;
	}
	.error.valid{ color: $dark_grey; }
}