// Inverted navbar
// -------------------------

@import "_bootstrap/variables"; // Modify this for custom colors, font-sizes, etc
@import "_bootstrap/mixins";

// Inverted navbar
$navbarBluedBackground:                #015387 !default;
$navbarBluedBackgroundHighlight:       #015e99 !default;
$navbarBluedBorder:                    #0f5078 !default;

$navbarBluedText:                      $white !default;
$navbarBluedLinkColor:                 $white !default;
$navbarBluedLinkColorHover:            #ffcc00 !default;
$navbarBluedLinkColorActive:           $navbarBluedLinkColorHover !default;
$navbarBluedLinkBackgroundHover:       transparent !default;
$navbarBluedLinkBackgroundActive:      $navbarBluedBackground !default;

$navbarBluedSearchBackground:          lighten($navbarBluedBackground, 25%) !default;
$navbarBluedSearchBackgroundFocus:     $white !default;
$navbarBluedSearchBorder:              $navbarBluedBackground !default;
$navbarBluedSearchPlaceholderColor:    #ccc !default;

$navbarBluedBrandColor:                $navbarBluedLinkColor !default;



.navbar-blued {
	color: $navbarBluedText;
	
	.navbar-inner {
		@include gradient-vertical($navbarBluedBackgroundHighlight, $navbarBluedBackground);
		border-color: $navbarBluedBorder;
	}
	
	.brand,
	.nav > li > a {
		color: $navbarBluedLinkColor;
		text-shadow: 0 -1px 0 rgba(0,0,0,.25);
		&:hover {
			color: $navbarBluedLinkColorHover;
		}
	}
	
	.nav > li > a:focus,
	.nav > li > a:hover {
		background-color: $navbarBluedLinkBackgroundHover;
		color: $navbarBluedLinkColorHover;
	}
	.nav .active > a,
	.nav .active > a:hover,
	.nav .active > a:focus {
		color: $navbarBluedLinkColorActive;
		background-color: $navbarBluedLinkBackgroundActive;
	}
	
	// Inline text links
	.navbar-link {
		color: $navbarBluedLinkColor;
		&:hover {
			color: $navbarBluedLinkColorHover;
		}
	}
	
	// Dividers in navbar
	.divider-vertical {
		border-left-color: darken($navbarBluedBackground, 10%);
		border-right-color: lighten($navbarBluedBackgroundHighlight, 5%);
	}
	
	// Dropdowns
	.nav li.dropdown.open > .dropdown-toggle,
	.nav li.dropdown.active > .dropdown-toggle,
	.nav li.dropdown.open.active > .dropdown-toggle {
		background-color: $navbarBluedLinkBackgroundActive;
		color: $navbarBluedLinkColorActive;
	}
	.nav li.dropdown > .dropdown-toggle .caret {
		border-top-color: $navbarBluedLinkColor;
		border-bottom-color: $navbarBluedLinkColor;
	}
	.nav li.dropdown.open > .dropdown-toggle .caret,
	.nav li.dropdown.active > .dropdown-toggle .caret,
	.nav li.dropdown.open.active > .dropdown-toggle .caret {
		border-top-color: $navbarBluedLinkColorActive;
		border-bottom-color: $navbarBluedLinkColorActive;
	}
	
	// Navbar search
	.navbar-search {
		.search-query {
			color: $white;
			background-color: $navbarBluedSearchBackground;
			border-color: $navbarBluedSearchBorder;
			@include box-shadow(inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15));
			@include transition(none);
			@include placeholder($navbarBluedSearchPlaceholderColor);
			
			// Focus states (we use .focused since IE7-8 and down doesn't support :focus)
			&:focus,
			&.focused {
				padding: 5px 15px;
				color: $grayDark;
				text-shadow: 0 1px 0 $white;
				background-color: $navbarBluedSearchBackgroundFocus;
				border: 0;
				@include box-shadow(0 0 3px rgba(0,0,0,.15));
				outline: 0;
			}
		}
	}
	
	// Navbar collapse button
	.btn-navbar {
		@include buttonBackground(darken($navbarBluedBackgroundHighlight, 5%), darken($navbarBluedBackground, 5%));
	}
}
