@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
/* ---------------------------------------------------------------------------------------
- LAYOUT
--------------------------------------------------------------------------------------- */
body.general {
	margin-top: 20px;
	/* background-color: #ededed; */
}
/* Sidebar, logo and baseline */
div.main-logo {
	h1, h2 {
		position: absolute;
		top: 0;
		left: 0;
		width: 1px;
		height: 1px;
		text-indent: -9999px;
	}
}

/* Facebook holder */
div.socialmedia-holder {
	margin: 10px 0 0 0;
	padding: 10px 10px 10px 0;
	border-top: 1px solid #e3e3e3;
	/* border-bottom: 1px solid #e3e3e3; */
}

/* Image Header */
div#site-header {
	margin-bottom: 0;
	@media (min-width: 1200px) {
		
	}
	.carousel-inner {
		height: 190px;
	}
	.carousel-control {
		top: 45%;
	}
	.carousel-caption {
		height: 40px;
		margin: 0;
		padding: 0;
		text-align: right;
		bottom: -30px;
		background-color: #014979;
		h4 {
			margin: 10px 20px 0 0;
			padding: 0;
			font-size: 13px;
			line-height: 1em;
			font-weight: bold;
		}
	}
}
/*
div.site-header {
	width: 680px;
	height: 35px;
	background-image: url('../img/banner.jpg');
	background-repeat: no-repeat;
	background-color: $light_grey;
	padding: 85px 20px 0px 0px;
	margin-bottom: 20px;
	h2 {
		margin: 0;
		padding: 0;
		font-size: 14px;
		font-weight: normal;
		color: #f3a03d;
		text-align: right;
	}
}
*/