/* ---------------------------------------------------------------------------------------
- Typo
--------------------------------------------------------------------------------------- */
@import "compass/css3/font-face";

body{
	font-family: "Helvetica Neue", "Helvetica", helvetica, arial, sans-serif;
	color: #333;
	font-size: 14px;
}

span.blacked {
	color: $black;
}

span.blued {
	color: $mainblue;
}

.embossed-on-lightgrey {
	text-shadow: #fff 1px 1px 0px
}
