<div class="span9 offset3">
	<div class="copyright well well-small">
		&copy; 2009-2013 - Artelux - <a href="{site_url}disclaimer" title="Disclaimer &amp; Privacy">Disclaimer &amp; Privacy</a> - <a href="{site_url}sitemap" title="Map du site">Plan du site</a>
	</div>
</div>