<!-- Facebook elements -->
<div id="fb-root"></div>
<script>
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=227720857274020";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
	
<div id="site-header" class="carousel slide">
	<!--
	{exp:channel:entries channel="slider" dynamic="no"}
	{if "{image_slider:total_files}" >= 1}
	<ol class="carousel-indicators">
		{image_slider}
		<li data-target="#site-header" data-slide-to="{count}" class="active"></li>
		{/image_slider}
	</ol>
	{/if}
	{/exp:channel:entries}
	-->
	{exp:channel:entries channel="slider" dynamic="no"}
	{if "{image_slider:total_files}" >= 1}
	<div class="carousel-inner">
		{image_slider}
		<div class="item {if "{count}" == "1"}active{/if}">
			{exp:ce_img:pair src="{url}" crop="yes" max_width="870" min_width="870" max_height="150" min_height="150"}
			<img src="{made}" alt="{title}" title="{title}" width="{width}" height="{height}" />
			{/exp:ce_img:pair}
			<div class="carousel-caption">
				<h4>{title}</h4>
			</div>
		</div>
		{/image_slider}
	</div>
	{/if}
	{/exp:channel:entries}
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#site-header" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#site-header" data-slide="next">&rsaquo;</a>
</div>

{embed="inc/navigation"}