<div class="navbar navbar-blued">
	<div class="navbar-inner">
		<div class="container">
			
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			
			<!-- Everything you want hidden at 940px or less, place within here -->
			<div class="nav-collapse collapse">
				<!-- .nav, .navbar-search, .navbar-form, etc -->
				<ul class="nav">
					<li class="active">
						<a href="{site_url}">Accueil</a>
					</li>
					<li class="dropdown">
						<a href="{site_url}produits/" class="dropdown-toggle" data-toggle="dropdown">Produits <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="nav-header">
								Notre gamme de produits
							</li>
							
							{exp:structure:nav start_from="/produits" include_ul="no" max_depth="1"}
							
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="nav-header">
								Services et prestations
							</li>
							<li>
								<a href="#">Placement</a>
							</li>
							<li>
								<a href="#">Entretien</a>
							</li>
							<li>
								<a href="#">Garantie</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Actualité</a>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
					<li>
						<a href="#">Liens</a>
					</li>
				</ul>
				
				<ul class="nav pull-right">
					<li class="divider-vertical"></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Langue <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="{absolute_url}fr/{if segment_1}{segment_1}/{/if}{if segment_2}{segment_2}/{/if}{if segment_3}{segment_3}/{/if}{if segment_4}{segment_4}/{/if}">
									Français {if user_language == "fr"}<i class="icon-ok"></i>{/if}
								</a>
							</li>
							<li>
								<a href="{absolute_url}nl/{if segment_1}{segment_1}/{/if}{if segment_2}{segment_2}/{/if}{if segment_3}{segment_3}/{/if}{if segment_4}{segment_4}/{/if}">
									Neederlands {if user_language == "nl"}<i class="icon-ok"></i>{/if}
								</a>
							</li>
							<!--
							<li>
								<a href="{absolute_url}en/">English</a>
							</li>
							<li>
								<a href="{absolute_url}de/">Deutsch</a>
							</li>
							-->
						</ul>
					</li>
				</ul>
				
			</div>
			
		</div>
	</div>
</div>
