<!-- Main logo -->
<div class="main-logo">
	<a href="{site_url}" title="Artelux">
		<img src="{theme_folder_url}artelux/img/logo_artelux.png" width="270" height="215" alt="Artelux" title="Artelux | No light, no business">
	</a>
	<h1 class="company">Artelux</h1>
	<h2 class="baseline">No light, no business</h2>
	
</div>

<!-- Address -->
<div class="contact-infos">
	<div class="well well-small">
		<i class="icon-map-marker"></i> <span class="blued embossed-on-lightgrey">Contactez-nous</span>
	</div>
	<div class="vcard">
		<div class="org"><strong>Artelux</strong></div>
		<a class="email" href="mailto:info@artelux.be">info@artelux.be</a>
		<div class="adr">
			<div class="street-address">La Picherotte, 28</div>
			<span class="postal-code">B-4053</span>, <span class="locality">Embourg</span><br>
			<span class="region">Liège</span>, <span class="country-name">Belgium</span>
		</div>
		<div class="tel">+32 4 365 17 00</div>
		<div class="tel">+32 4 367 27 07</div>
		
	</div>
	<p>Vous pouvez aussi remplir le <a href="{site_url}contact">formulaire de contact</a>.</p>
	<!-- Facbook Like holder -->
	<div class="socialmedia-holder clearfix">
		<div class="fb-like" style="float: right;" data-href="http://www.artelux.be" data-send="false" data-layout="button_count" data-width="270" data-show-faces="false" data-font="arial"></div>
		<a href="https://twitter.com/artelux_be" class="twitter-follow-button" data-show-count="false" data-lang="fr">
			Suivre @artelux_be
		</a>
		<script>
			!function(d,s,id){
				var js,fjs = d.getElementsByTagName(s)[0];
				if (!d.getElementById(id)) {
					js = d.createElement(s);
					js.id = id;
					js.src = "//platform.twitter.com/widgets.js";
					fjs.parentNode.insertBefore(js,fjs);
				}
			}(document,"script","twitter-wjs");
		</script>
	</div>
</div>

{exp:channel:entries dynamic="no" channel="actus" limit="3"}
{if "{count}" == 1}
<!-- Actus -->
<div class="actu-widget">
	<div class="well well-small">
		<i class="icon-tag"></i> <span class="blued embossed-on-lightgrey">Actualités</span>
	</div>
	<ul>
{/if}
		<li>
			{entry_date format="%d/%m/%Y"} -
			<a href="{page_url}" title="{if "{user_language}" != "fr"}{title_{user_language}}{if:else}{title}{/if}">
				{if "{user_language}" != "fr"}{title_{user_language}}{if:else}{title}{/if}
			</a>
		</li>
{if "{count}" == "{total_results}"}
	</ul>
</div>
{/if}
{/exp:channel:entries}

{if "{segment_1}" != "sitemap"}
<!-- Newsletter -->
<div class="newsletter-enroll">
	<div class="well well-small">
		<i class="icon-envelope"></i> <span class="blued embossed-on-lightgrey">Newsletter</span>
	</div>
	<p>Abonnez vous à notre newsletter et restez au courant des dernières nouveautés!</p>
	
	<form class="">
		<fieldset>
			<legend>Newsletter</legend>
			<label for="firstname">Prénom</label>
			<input class="input-medium" type="text" name="firstname" id="firstname" placeholder="Prénom">
			<label for="name">Nom</label>
			<input class="input-medium" type="text" name="name" id="name" placeholder="Nom">
			<label for="email">Email</label>
			<input class="input-medium" type="text" name="email" id="email" placeholder="Email">
			<br>
			<button type="submit" class="btn">Envoyer</button>
		</fieldset>
	</form>
</div>
{/if}