{embed="inc/head"}
<body id="index" class="general">
	<div class="container">
		<div class="row">
			<div class="span3">
				{embed="inc/sidebar"}
			</div>
			<div class="span9">
				{embed="inc/header"}
				
				{embed="inc/breadcrumb"}
				
				{exp:channel:entries}
				<div class="maincol top-product-container">
					{page_contenu_{user_language}}
				</div>
				{/exp:channel:entries}
				
			</div>
		</div>
		<div class="row">
			{embed="inc/footer"}
		</div>
	</div>
	
	{embed="inc/jsinclusion"}
</body>
</html>
