{embed="inc/head"}
<body id="index" class="general">
	<div class="container">
		<div class="row">
			<div class="span3">
				{embed="inc/sidebar"}
			</div>
			<div class="span9">
				{embed="inc/header"}
				
				{embed="inc/breadcrumb"}
				
				<!-- Sitemap -->
				{exp:structure:nav show_depth="9999"}
				
			</div>
		</div>
		<div class="row">
			{embed="inc/footer"}
		</div>
	</div>
	
	{embed="inc/jsinclusion"}
</body>
</html>
