{embed="inc/head"}
<body id="index" class="general">
	<div class="container">
		<div class="row">
			<div class="span3">
				{embed="inc/sidebar"}
			</div>
			<div class="span9">
				{embed="inc/header"}
				<div class="page-header">
					{exp:channel:entries channel="pages" limit="1" entry_id="3"}
					{page_contenu_{user_language}}
					{/exp:channel:entries}
				</div>
				
				{exp:channel:entries channel="produits" dynamic="no" sort="asc"}
				{if "{count}" == 1}
				<h2>{exp:multi_language:phrase index="notre_catalogue"}</h2>
				<div class="row">
					<ul class="prod-list">
					{/if}
						<li class="span9">
							<div class="prod-list-item {switch="light|deep"} clearfix">
								<div class="thumbnail">
									<a href="{page_uri}" title="{if "{user_language}" != "fr"}{prod_title_{user_language}}{if:else}{title}{/if}">
										{if "{prod_thumbnail:total_files}" >= 1}
										{prod_thumbnail limit="1"}
										{exp:ce_img:pair:crpd src="{url}" crop="yes" max_width="120" min_width="120" max_height="120" min_height="120"}
										<img src="{crpd:made}" alt="{alt_text}" title="{title}" width="{crpd:width}" height="{crpd:height}" />
										{/exp:ce_img:pair:crpd}
										{/prod_thumbnail}
										{if:else}
										<img src="{theme_folder_url}artelux/img/default120.png" alt="{if "{user_language}" != "fr"}{prod_title_{user_language}}{if:else}{title}{/if}" title="{if "{user_language}" != "fr"}{prod_title_{user_language}}{if:else}{title}{/if}" />
										{/if}
									</a>
								</div>
								<div class="caption">
									<h3>{if "{user_language}" != "fr"}{prod_title_{user_language}}{if:else}{title}{/if}</h3>
									{prod_intro_{user_language}}
									<p>
										<a href="{page_uri}" class="btn btn-primary btn-small btn-inverse" title="{if "{user_language}" != "fr"}{prod_title_{user_language}}{if:else}{title}{/if}">{exp:multi_language:phrase index="more_infos"}</a>
									</p>
								</div>
							</div>
						</li>
					{if "{count}" == "{total_results}"}
					</ul>
				</div>
				{/if}
				{/exp:channel:entries}
				
				
			</div>
		</div>
		<div class="row">
			{embed="inc/footer"}
		</div>
	</div>
	
	{embed="inc/jsinclusion"}
</body>
</html>
